{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */where-to-buy
 * @ingroup themeable
 */
#}
{%
    set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
]
%}
<div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {% if label %}
        <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
    {{ title_suffix }}
    {% block content %}

        <div class="block block--commerce-settings samples-canadian-message block--commerce-settings-bootwood-canadian-visitors-message--2" id="block-commerce-settings-bootwood-canadian-visitors-message--2">
            <div class="block__content">
                <div class="canadian-message">
                    <p><span class="bold">Outside of the U.S.?</span> We are unable to process sample requests outside of the United States through this form at this time. Please contact Joanna Olmstead with your request.</p>
                    <p class="img-paragraph"><img alt="" data-entity-type="" data-entity-uuid="" src="https://bootwood.com/sites/all/modules/features/commerce_settings/images/joanna.png" /></p>
                    <p class="person-details"><span class="bold">Kabir Khan</span><br />
                        <a href="mailto:jolmstead@bootwood.us">jolmstead@bootwood.us</a><br />
                            <a>Phone: 810.561.585465</a>
                </div>
            </div>
        </div>

        <div class="l-prefooter-gallery">&nbsp;</div>
    {% endblock %}
</div>
